h5{
       color: darkolivegreen;
    background-color: darkslategrey;
    text-align: center;
    margin-top: 10%;
}
main {
    font-size: 30px;
    color: darkblue;
  }
#dato{
    font-size: 15px;
    color: darksalmon;
}